
<div class="main-cont-div">
  <div class="seccion" *ngIf="data">
  <div class="sub-titulo-seccion">{{data.tipo}} {{data.modulo.nombre}}</div>

  <table class="customTable" *ngIf="data.data">
    <thead>
      <tr style="border-bottom: 1px solid;">
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>unidad</th>
        <th>P/U</th>
        <th>Total</th>

      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data.data" style="border-bottom: 1px solid;" >
      <td>{{item.descripcion}}</td>
      <td>{{item.catidad}}</td>
      <td>{{item.unidad}}</td>
      <td>{{item.unitario}}</td>
      <td>{{item.total}}</td>

    </tr >
  </tbody>
  </table>
  </div>
  <div style=" margin:auto; text-align: center; width: 50%;">
    <button mat-flat-button color="warn"  style="margin:5%;" (click)="cerrarDialogo()">CERRAR</button>
  </div>
</div>
