<div class="main-cont-div">
  <div class="sub-titulo-seccion"></div>
  <mat-form-field class="input-buscar" appearance="fill">
    <mat-label>Buscar <i style="color: #aaa;"> (por celular, Correo Electronico)</i></mat-label>
    <input  required="true" matInput placeholder="Buscar celular, correo" name="busca" id="busca" #busca   (keyup)="buscar(busca.value)" (keydown.enter)="buscar(busca.value)" >
  </mat-form-field>
        <button mat-fab style="background-color:#4F4F4F; color:#EAB127;"  type="submit" (click)="buscar(busca.value)">
          <mat-icon>search</mat-icon>
        </button>
        <div class="list" *ngIf="mostrar&&usuarios.length&&!aceptar">
          <table class="customTable" >
            <thead>
              <tr style="border-bottom: 1px solid;">
                <th>Movil</th>
                <th>Nombre</th>
                <th>CORREO</th>

              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of usuarios" style="border-bottom: 1px solid;" >
              <td>{{item.cel}}</td>
              <td>{{item.nombre}} {{item.apellidos}}</td>
              <td>{{item.mail}}</td>
              <td><button mat-mini-fab style="background-color:#4F4F4F; color:#EAB127;" (click)="selecItem(item)"><mat-icon >local_shipping</mat-icon></button></td>
            </tr >
          </tbody>
          </table>
        </div>

        <div class="list" style="width: 90%; margin: auto;" *ngIf="aceptar">
            <div class="sub-titulo-seccion">DESEA ENVIAR ESTE PROYECTO A: </div>
            <div style="width: 50%; margin: auto;">
              <div class="sub-titulo-seccion">{{this.usDestino.ci}}</div>
              <div class="sub-titulo-seccion">{{this.usDestino.nombre}} {{this.usDestino.apellidos}}</div>
              <div class="sub-titulo-seccion">{{this.usDestino.mail}}</div>
            </div>
            <div style="width: 80%; margin: auto; text-align: center;" *ngIf="!enviado">
              <button mat-flat-button style="background-color:#4F4F4F; color:#27ea58;" (click)="enviar(1)"> SI  <mat-icon >local_shipping</mat-icon></button>
              <button mat-flat-button color="warn" style="margin-left: 5%;" (click)="enviar(2)">CANCELAR</button>
            </div>
            <div style="width: 80%; margin: auto; text-align: center;" *ngIf="enviado">
              <div class="sub-titulo-seccion">PROYECTO ENVIADO CORRECTAMENTE </div>
              <button mat-flat-button color="warn" style="margin-left: 5%;" (click)="enviar(2)">CANCELAR</button>
            </div>
        </div>

</div>
