@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
/* You can add global styles to this file, and also import other style files */


@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; background-color: #454545; scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #454545; }
/* width */
::-webkit-scrollbar {
  width: 5px;
 }
 /* Track */
 ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #EAB127;
  border-radius: 10px;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
  background:  #4F4F4F;
 }

 mat-form-field{
  width: 100%;
 }
.snackbar-warning{
  width: 40%;
  position: absolute;
  text-align: center;
  padding: 15px !important; // spacing between the text and boundary
  background-color: #ee4c0cc5;
  color: white;
  left:30%;
  top: 25%;

  .mat-button-wrapper {
      color: #fff !important; // action text color
      border: 1px solid #fff;
      padding: 5px;
      border-radius: 5px;
  }
}
.snackbar-verificacion{
  width: 1000px;
  position: absolute;
  text-align: center;
  font-size: large;
  padding: 15px !important; // spacing between the text and boundary
  background-color: #eab0271c;
  color: white;
  left:30%;
  top: 50%;

  .mat-button-wrapper {
      color: #fff !important; // action text color
      border: 1px solid #fff;
      padding: 5px;
      border-radius: 5px;
  }
}
.main-cont-div{
  width: 98%;
  margin:auto;
  min-height: 600px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgb(238, 232, 232);
  padding: 1%;
}
.cont-div{
  width: 70%;
  margin:auto;
  min-height: 600px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgb(238, 232, 232);
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.titulo-seccion{
  width: 98%;
  font-size: large;
  text-transform: uppercase;
  text-align: center;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bold;
}
.sub-titulo-seccion{
  font-size: 16px;
  width: 98%;
  text-transform: uppercase;
  text-align: center;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bold;
}
.form-container-div{
   width: 80%;
   margin: auto;
   padding: 1%;
}
.titulo-formulario{
  width: 70%;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
}
.form-div{
  width: 95%;
  padding: 1%;
  margin: auto;
}
.campoForm{
  width: 100%;
  padding: 1%;
  margin: auto;
}
.buscar{
  width: 95%;
  margin: auto;
}
.cont{
  width: 80%;
  margin: auto;
  padding: 1%;
  box-shadow: 3px 3px 3px 3px rgb(247, 247, 247);
}
.campo{
  width: 90%;
  margin: auto;
  padding: 1%;
  box-shadow: 3px 3px 3px 3px rgb(247, 247, 247);
}
.campoDoble{
  float: left;
  width: 50%;
}
mat-form-field{
  width: 80%;
  margin: auto;
  background-color: #fff;
}
.titulo{
  margin-top: 30px;
  text-align: center;
}
table.customTable {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  color: #454545;
}
table.customTable tr {
  color: #454545;
  border-bottom: 1px solid #e2dfdf;
  cursor: pointer;
}
.trdata:hover{
  transition: 0.5s;
  transform: 0.5s;
  transition-timing-function: ease-out;
  background-color: #e2dfdf;
}

table.customTable tr:hover{


}
/*.full-screen-modal .mat-dialog-container {
  padding: 1em;
  width: 100%;
  height: 100%;
}*/

table.customTable th {
  padding: 2px;
  text-transform: uppercase;
  color: #EAB127;
  font-size: 11px;
}
table.customTable td{
  border: 1px solid #aaa;
  padding-left: 3px;
}

table.customTable thead {
  background-color: #4F4F4F;
  color: #EAB127;
}
table td {
  border: 1px solid #aaa;
  font-size: 11px;
}


.btnAgregar {
	box-shadow:inset 0px -3px 7px 0px #4F4F4F;
	background:linear-gradient(to bottom, #4F4F4F 5%, #353535 100%);
	background-color:#4F4F4F;
	border-radius:5px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#EAB127;
	font-family:Arial;
	font-size:15px;
	padding:8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #353535 5%, #4F4F4F 100%);
	background-color:#353535;
}
mat-mini-fab{
  background-color:#4F4F4F;
  color:#EAB127;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #353535 !important;
}
.opcional{

}
.modal-responisvo{
  width:90%;
}
mat-dialog-container{
  max-width: 80%;
  margin: auto;
}
.mat-step-header .mat-step-label{
  color: #4F4F4F;
}
.mat-step-header .mat-step-icon {
  color: #EAB127;
  background-color: #4F4F4F;
}
.closeBtn {
  position: absolute;
  left: 90%;
  top: 0px;
  z-index: 10000;
}
@media only screen and (max-width: 1206px) {
  .opcional1{
    display:none;
  }

}

@media only screen and (max-width: 1030px) {
  .opcional1{
    display:none;
  }
  .opcional2{
    display:none;
  }
  .main-cont-div{
    width: 100%;
  }
}

@media only screen and (max-width: 678px) {
  .opcional1{
    display:none;
  }
  .opcional2{
    display:none;
  }
  .opcional3{
    display:none;
  }
  .main-cont-div{
    width: 100%;
  }
  .cont-div{
    width: 100%;
  }
  .titulo-seccion{
    font-size: 14px;
    text-align: left;

  }
  .sub-titulo-seccion{
    font-size: 12px;
    text-align: left;
  }
  .modal-responisvo{
    width:90%;
  }
  mat-dialog-container{
    max-width: 90%;
    margin: auto;
  }


}
@media only screen and (max-width: 420px) {
  .opcional1{
    display:none;
  }
  .opcional2{
    display:none;
  }
  .opcional3{
    display:none;
  }
  .opcional4{
    display:none;
  }
  .main-cont-div{
    width: 100%;
  }
  .cont-div{
    width: 100%;
  }
  .titulo-seccion{
    font-size: 14px;
    text-align: left;

  }
  .sub-titulo-seccion{
    font-size: 12px;
    text-align: left;
  }
  .modal-responisvo{
    width:100%;
  }
  mat-dialog-container{
    max-width: 100%;
    margin: auto;
  }


}

@media only screen and (max-width: 306px) {
  .opcional1{
    display:none;
  }
  .opcional2{
    display:none;
  }
  .opcional3{
    display:none;
  }
  .opcional4{
    display:none;
  }
  .opcional5{
    display:none;
  }
  .main-cont-div{
    width: 100%;
  }
  .cont-div{
    width: 100%;
  }
  .titulo-seccion{
    font-size: 14px;
    text-align: left;

  }
  .sub-titulo-seccion{
    font-size: 12px;
    text-align: left;
  }
  .modal-responisvo{
    width:100%;
  }
  mat-dialog-container{
    max-width: 100%;
    margin: auto;
  }



}
