<div class="main-cont-div">

    <div class="buscar" *ngIf="!listo">
      <div class="tit-seccion">
        <h2>Agregar Actividad</h2>
        <div style="width: 100%; text-align: right;">
          <button (click)="misActividades()" *ngIf="Pr" class="btnAgregar" style="background-color:#4F4F4F; color:#ffac4e;">Mis Actividades</button>
          <button *ngIf="crearActividades" (click)="creaMiActividad()" class="btnAgregar" style="background-color:#4F4F4F; color:#4eafff;">Crear Actividad</button>
        </div>
      </div>
      <mat-form-field class="input-buscar" appearance="fill">
         <mat-label>Buscar</mat-label>
         <input  required="true" matInput placeholder="Buscar Actividad" name="busca" id="busca" #busca   (keyup)="buscarActividad(busca.value)" (keydown.enter)="buscarActividad(busca.value)" >
      </mat-form-field>
      <button mat-fab style="background-color:#4F4F4F; color:#EAB127;"  type="submit" (click)="buscarActividad(busca.value)">
      <mat-icon>search</mat-icon>
      </button>
     </div>
     <div *ngIf="listo">
      <div class="tit-seccion">
          <div><b>NOMBRE: {{actiData.descripcion}}</b></div>
          <div><b>UNIDAD: {{actiData.unidad}}</b></div>
          <div><b>PU: {{relACtMod.unitario | number : '1.2-2'}}</b></div>
          <div><b>CORRELATIVO: {{relACtMod.orden}}</b></div>
      </div>
      <form #relForm = "ngForm">
        <mat-form-field class="input-buscar" appearance="fill">
          <mat-label>ORDEN DE EJECUCION</mat-label>
          <input type="number" required matInput placeholder="Orden" name="orden"  #orden [(ngModel)]="relACtMod.orden" >
        </mat-form-field>
        <mat-form-field class="input-buscar" appearance="fill">
          <mat-label>CANTIDAD</mat-label>
          <input type="number" required matInput placeholder="Cantidad" value="{{relACtMod.catidad}}" name="catidad" #catidad [(ngModel)]="relACtMod.catidad">
        </mat-form-field><span><b>{{actiData.unidad}}</b></span>

      </form>
     <button mat-flat-button  style="background-color:#4F4F4F; color:#EAB127;" (click)="agregarActividad(relForm.value)"><mat-icon >add</mat-icon>Agregar Actividad</button>
     </div>
  <div class="list" *ngIf="actividades.length && mostrar">
    <table class="customTable" >
      <thead>
        <tr style="border-bottom: 1px solid;">
          <th>Nombre</th>
          <th>Unidad</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of actividades"  style="border-bottom: 1px solid;" >
        <td *ngIf="item.id_us==='0'">{{item.descripcion}}</td>
        <td *ngIf="item.id_us==='0'">{{item.unidad}}</td>
        <td *ngIf="item.id_us==='0'">
          <button mat-mini-fab style="background-color:#4F4F4F; color:#EAB127;" (click)="selecItem(item)">
          <mat-icon>add</mat-icon>
          </button>
        </td>
        <td *ngIf="item.id_us==='0'">
          <button mat-mini-fab *ngIf="item.id_us===duenio" style="background-color:#4F4F4F; color:#2782ea91;" (click)="edit(item)">
          <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr >
    </tbody>
    </table>
   </div>
   <div class="list" *ngIf="actividades2.length && mostrar">
    <table class="customTable" >
      <thead>
        <tr style="border-bottom: 1px solid;">
          <th>Nombre</th>
          <th>Unidad</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of actividades2"   style="border-bottom: 1px solid;" >
        <td >{{item.descripcion}}</td>
        <td>{{item.unidad}}</td>
        <td>
          <button mat-mini-fab style="background-color:#4F4F4F; color:#EAB127;" (click)="selecItem(item)">
          <mat-icon>add</mat-icon>
          </button>
        </td>
        <td>
          <button mat-mini-fab *ngIf="item.id_us===duenio" style="background-color:#4F4F4F; color:#2782ea91;" (click)="edit(item)">
          <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr >
    </tbody>
    </table>
   </div>


</div>
   <div style="width: 100%; text-align: center;">
    <button  mat-flat-button  style="margin:3%;" color="warn"  (click)="cerrarDialogo()">
      CERRAR <mat-icon>close</mat-icon>
    </button>
  </div>

