<div class="main-cont-div">
  <div class="seccion" *ngIf="proyecto">
  <div class="sub-titulo-seccion" >PROYECTO: {{proyecto.nombre}}</div>
  <div style="width: 100%; text-align: right;"><button (click)="agregarModulo()" class="btnAgregar"  style="margin-right: 3%;"><b>+</b> AGREGAR MODULO</button></div>
  <table class="customTable" *ngIf="modulos">
    <thead>
      <tr style="border-bottom: 1px solid;">
        <th>nombre</th>
        <th>codigo</th>
        <th>Fecha de inicio</th>
        <th>ORDEN</th>

      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of modulos" style="border-bottom: 1px solid;">
      <td>{{item.nombre}}</td>
      <td>{{item.codigo}}</td>
      <td>{{item.fecha_inicio}}</td>
      <td>{{item.orden}}</td>
      <td><button mat-mini-fab style="background-color:#4F4F4F; color:#EAB127;" (click)="selecItem(item)"><mat-icon >visibility</mat-icon></button></td>

    </tr >
  </tbody>
  </table>
    <div  style="margin-top: 3%; text-align: center;">
      <button mat-flat-button style="background-color:#4F4F4F; color:#279cea; margin-right: 3%;" (click)="PresMod()" >Presupuesto por Módulo</button>
    </div>
  </div>
</div>
