<div class="btnDiv" (click)="registro()" style="margin-top: 4%;">
  <h2><button> Registrate aqui</button></h2>
</div>

<div class="cards">
      <div class="card">
        <div class="card-tit">PRESUPUESTOS DE CONSTRUCCIÓN: </div>
        <div class="card-img" style="background-image: url('assets/img/22.jpg');">
        </div>
        <div class="card-txt">Elabora presupuestos de Obras en Linea, Fácil y rápido </div>
      </div>
      <div class="card">
        <div class="card-tit">CALCULA LA CANTIDAD DE MATERIALES: </div>
        <div class="card-img" style="background-image: url('assets/img/33.jpg');">
        </div>
        <div class="card-txt">Predeconst te permite calcular la cantidad de Materiales que requieres en tu proyecto.</div>
      </div>
      <div class="card">
        <div class="card-tit">GASTOS EN MANO DE OBRA: </div>
        <div class="card-img" style="background-image: url('assets/img/44.jpg');">
        </div>
        <div class="card-txt">También puedes calcular el costo de Mano de Obra en tu proyecto.</div>
      </div>
      <div class="card">
        <div class="card-tit">RÁPIDO Y EFICIENTE: </div>
        <div class="card-img" style="background-image: url('assets/img/55.jpg');">
        </div>
        <div class="card-txt">Puedes usar desde cualquier dispositivo (Computadora o Smartphone) para tener acceso a tu proyecto en cualquier momento y lugar. </div>
      </div>
   <!---
         <div class="card">
        <div class="card-tit">Exportación de Proyectos:</div>
        <div class="card-img" style="background-image: url('assets/img/66.jpg');">
        </div>
        <div class="card-txt">PREDECONST le permite exportar  cualquier parte del proyecto a formatos de Excel, Word, etc. Listo para ser impresos en formatos ya establecidos o fácilmente editables. </div>
      </div>
    -->
</div>

<div class="cards2">
  <mat-stepper class="cards2" [linear]="isLinear" #stepper>
    <mat-step label="Proyectos" >
      <div class="card2">
        <div class="card2-tit">PRESUPUESTOS DE CONSTRUCCIÓN: </div>
        <div class="card2-img" style="background-image: url('assets/img/22.jpg');">
        </div>
        <div class="card2-txt">Elabora presupuestos de Obras en Linea, Fácil y rápido. </div>
      </div>
        <div>
          <button mat-button matStepperNext>SIGUIENTE</button>
        </div>

    </mat-step>
    <mat-step label="Módulos">
      <div class="card2">
        <div class="card2-tit">CALCULA LA CANTIDAD DE MATERIALES: </div>
        <div class="card2-img" style="background-image: url('assets/img/33.jpg');">
        </div>
        <div class="card2-txt">Predeconst te permite calcular la cantidad de Materiales que requieres en tu proyecto. </div>
      </div>
      <div>
          <button mat-button matStepperPrevious>ATRAS</button>
          <button mat-button matStepperNext>SIGUIENTE</button>
      </div>
    </mat-step>
    <mat-step label="Actividades">
      <div class="card2">
        <div class="card2-tit">GASTOS EN MANO DE OBRA: </div>
        <div class="card2-img" style="background-image: url('assets/img/44.jpg');">
        </div>
        <div class="card2-txt">También puedes calcular el costo de Mano de Obra en tu proyecto. </div>
      </div>
      <div>
          <button mat-button matStepperPrevious>ATRAS</button>
          <button mat-button matStepperNext>SIGUIENTE</button>
      </div>
    </mat-step>
    <mat-step label="Calculo">
      <div class="card2">
        <div class="card2-tit">RÁPIDO Y EFICIENTE: </div>
        <div class="card2-img" style="background-image: url('assets/img/55.jpg');">
        </div>
        <div class="card2-txt">Puedes usar desde cualquier dispositivo (Computadora o Smartphone) para tener acceso a tu proyecto en cualquier momento y lugar.  </div>
      </div>
      <div>
          <button mat-button matStepperPrevious>ATRAS</button>

      </div>
    </mat-step>
    <!--
      <mat-step label="Exportación">
      <div class="card2">
        <div class="card2-tit">Exportación de Proyectos:</div>
        <div class="card2-img" style="background-image: url('assets/img/66.jpg');">
        </div>
        <div class="card2-txt">PREDECONST le permite exportar  cualquier parte del proyecto a formatos de Excel, Word, etc. Listo para ser impresos en formatos ya establecidos o fácilmente editables. </div>
      </div>


      <div>
        <button mat-button matStepperPrevious>ATRAS</button>
        <button mat-button (click)="stepper.reset()">INICIO</button>
      </div>
    </mat-step>
    -->
  </mat-stepper>
</div>

