<div class="main-cont-div" *ngIf="modulo">
  <div class="sub-titulo-seccion">{{modulo.tipo}} {{modulo.nombre}}</div>
  <div  style="width: 100%; text-align: left;">
    <button mat-flat-button (click)="editarmodulo(modulo)" style="background-color:#4F4F4F; color:#2792ea;" class="btnAgregar" ><mat-icon >edit</mat-icon>EDITAR MODULO</button>
  </div>
  <div style="width: 100%; text-align: right;">
    <button mat-flat-button (click)="agregarActividad()" style="background-color:#4F4F4F; color:#EAB127;" class="btnAgregar" ><mat-icon >add</mat-icon> AGREGAR ACTIVIDAD</button>
    <label for="check">buuuuuuu</label>
  </div>
  <mat-spinner *ngIf="!PxUact"  style="margin:auto;"></mat-spinner>
  <div class="scroll">
    <table class="customTable" *ngIf="PxUact">
      <thead>
        <tr style="border-bottom: 1px solid;">
          <th>N°</th>
          <th>Nombre</th>
          <th>Cant.</th>
          <th>unid</th>
          <th>P/U</th>
          <th>Total</th>

        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of PxUact" style="border: 1px solid;" >
        <td>{{item.orden}}</td>
        <td>{{item.actividad}}</td>
        <td>{{item.cantidad}}</td>
        <td>{{item.unidad}}</td>
        <td>{{item.L | number : '1.2-2'}}</td>
        <td>{{item.totalMod | number : '1.2-2'}}</td>
        <td style="text-align: center;"><mat-icon (click)="verAct(item)">visibility</mat-icon></td>
        <td style="text-align: center;"><mat-icon (click)="verificarPremiun(1,item)">edit</mat-icon></td>
        <td style="text-align: center;"><mat-icon (click)="abrirModal(item.id_rel_am)">delete</mat-icon></td>
      </tr >
    </tbody>
    </table>
  </div>

  <div style="width: 100%; text-align: center;"><button (click)="pu()" class="btnAgregar" style="background-color:#4F4F4F; color:#27ea89;">PRECIOS UNITARIOS</button></div>

  </div>
  <div class="fondo" *ngIf="modal">
    <div class="modal">

      <div style="width: 100%; text-align: center;" >
        <div class="sub-titulo-seccion" style="width: 100%; text-align: center;">ESTA SEGURO DE BORRAR LA ACTIVIDAD?</div>
        <button  mat-flat-button  style="margin:3%;" color="primary"  (click)="quitar()" >
          SI
        </button>
        <button  mat-flat-button  style="margin:3%;" color="warn"  (click)="closeModal()">
          CANCELAR
        </button>
      </div>
    </div>
  </div>

<input id="check" #check type="checkbox">
<div class="panel">
      <div class="notifi-contet">
        <div style="background-color: #075eaf;" class="cabecera-Notifi">
          <div style="float:left; margin-right: 3%; color:#FFA482; font-size: 30px;">
            <label for="check" style="cursor: pointer; font-size: 30px;">
              <mat-icon>cancel</mat-icon>
            </label>
          </div>
          <div style="float: left;">
            <h3 style="color: #ffffff" class="tit-secc">Notificaciones: </h3>
          </div>

          <div style="clear: both;"></div>
        </div>

        </div>

</div>



