<div class="cont-div" *ngIf="modulo">
  <div class="sub-titulo-seccion">{{modulo.tipo}} {{modulo.nombre}}</div>
  <div  style="width: 100%; text-align: left;">
    <button mat-flat-button (click)="editarmodulo(modulo)" style="background-color:#4F4F4F; color:#2792ea;" class="btnAgregar" ><mat-icon >edit</mat-icon>EDITAR MODULO</button>
  </div>
  <div style="width: 100%; text-align: right;">
    <button mat-flat-button (click)="agregarActividad()" style="background-color:#4F4F4F; color:#EAB127;" class="btnAgregar" ><mat-icon >add</mat-icon> AGREGAR ACTIVIDAD</button>
  </div>
  <mat-spinner *ngIf="!PxUact"  style="margin:auto;"></mat-spinner>
  <div class="scroll">
    <table class="customTable" *ngIf="PxUact">
      <thead>
        <tr style="border-bottom: 1px solid;">
          <th>N°</th>
          <th>Nombre</th>
          <th>Cant.</th>
          <th>unid</th>
          <th>P/U</th>
          <th>Total</th>
          <th>Fechas</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of PxUact" style="border: 1px solid; text-align: center;" >
        <td>{{item.orden}}</td>
        <td>{{item.actividad}}</td>
        <td>{{item.cantidad}}</td>
        <td>{{item.unidad}}</td>
        <td>{{item.L | number : '1.2-2'}}</td>
        <td>{{item.totalMod | number : '1.2-2'}}</td>
        <!--
          <td class="opcional1">{{item.fecha_ini_actv | date : 'dd-MM-YYYY'}}/{{item.fecha_fin_actv | date : 'dd-MM-YYY'}}</td>
        -->
        <td><button alt="VER" mat-mini-fab style="background-color:#4F4F4F; color:#EAB127;" (click)="verAct(item)"><mat-icon >visibility</mat-icon></button></td>
        <td><button alt="EDITAR CANTIDAD ORDEN" mat-mini-fab style="background-color:#4F4F4F; color:#4eea27;" (click)="verificarPremiun(1,item)"><mat-icon >edit</mat-icon></button></td>
        <td><button alt="QUITAR" mat-mini-fab color="warn" (click)="abrirModal(item.id_rel_am)"><mat-icon >delete</mat-icon></button></td>
      </tr >
    </tbody>
    </table>
  </div>

  <div style="width: 100%; text-align: center;"><button (click)="pu()" class="btnAgregar" style="background-color:#4F4F4F; color:#27ea89;">PRECIOS UNITARIOS</button></div>
  <!--
  <div style="width: 100%; text-align: center;"><button (click)="gantt()" class="btnAgregar" style="background-color:#4F4F4F; color:#ea9c27;">CRONOGRAMA</button></div>
  -->
  </div>



  <div class="fondo" *ngIf="modal">
    <div class="modal">

      <div style="width: 100%; text-align: center;" >
        <div class="sub-titulo-seccion" style="width: 100%; text-align: center;">ESTA SEGURO DE BORRAR LA ACTIVIDAD?</div>
        <button  mat-flat-button  style="margin:3%;" color="primary"  (click)="quitar()" >
          SI
        </button>
        <button  mat-flat-button  style="margin:3%;" color="warn"  (click)="closeModal()">
          CANCELAR
        </button>
      </div>
    </div>
  </div>


