<div class="cont-div" *ngIf="modulo">
  <div class="sub-titulo-seccion">{{modulo.tipo}} {{modulo.nombre}}</div>

  <table class="customTable" *ngIf="actividades">
    <thead>
      <tr style="border-bottom: 1px solid;">
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>unidad</th>
        <th>P/U</th>
        <th>Total</th>

      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of actividades" style="border: 1px solid;" >
      <td>{{item.descripcion}}</td>
      <td>{{item.catidad}}</td>
      <td>{{item.unidad}}</td>
      <td>{{item.unitario}}</td>
      <td>{{item.total}}</td>
      <td><button mat-mini-fab style="background-color:#4F4F4F; color:#EAB127;" (click)="verAct(item)"><mat-icon >visibility</mat-icon></button></td>
      <td><button mat-mini-fab color="warn" (click)="quitar(item.id_rel_am)"><mat-icon >delete</mat-icon></button></td>
    </tr >
  </tbody>
  </table>
  <div><button (click)=" agregarActividad()" class="btnAgregar"  type="submit"><b>+</b> AGREGAR ACTIVIDAD</button></div>
  </div>
