.scroll{
   width: 98%;
   padding: 1%;
   margin: auto;
   max-height: 500px;
   overflow-y: scroll;
}
.fondo {
  background: rgba(0,0,0,0.5);
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index: 1500;
}
.modal{
  display: flex;
  justify-content: center;
  background: rgb(255, 255, 255);
  width: 40%;
  height: 12%;
  position:absolute;
  top:30%;
  left:30%;
}

.panel {
  position: fixed;
  left: 99%;
  top: calc(15% + 60px);
  width: 0px;
  transition: 1s;
  overflow: hidden;
  z-index: 1000;
  background-color: #fff;

}
input:checked+.panel {
  border-radius: 5px;
  left: calc(99% - 440px);
  z-index: 10000;
  width: 450px;
  box-shadow: 1px 1px 1px 1px rgba(136, 135, 135, 0.726);
}
@media only screen and (max-width: 420px) {
  .modal{
    width: 80%;
    height: 12%;
    position:absolute;
    top:30%;
    left:10%;
  }


}
