<div class="main-cont-div" style="width: 100%;  ">
  <div class="sub-titulo-seccion"> ADQUIERE TU CUENTA PREMIUM</div>
  <div style="width: 70%; margin: auto; overflow: hidden; overflow-y: scroll; max-height: 450px;" >
    <div style="width: 100%; margin: auto; text-align: justify;">
      ESTAS FUNCIONES ESTÁN HABILITADAS SOLO EN EL PAQUETE DE PAGO, CONJUNTAMENTE CON MUCHAS MÁS, ¡AQUIERELO YA!!
    </div>
    <table class="tabla-precios">
      <tr>
        <th></th>
        <th class="libre">
          <h1>LIBRE</h1>
          <h2>GRATUITO</h2>
        </th>
        <th class="premium">
          <h1>PREMIUN</h1>
          <h5 style="text-decoration: line-through;">149.99 Bs.</h5>
          <h4 style="color: rgb(247, 63, 39);"><b>99.99 Bs. ANUAL</b></h4>
          <h4 style="color: rgb(247, 63, 39);"><b>25 BS. Mensual</b></h4>
        </th>
      </tr>
      <tr>
        <th class="item">CREACIÓN DE PROYECTOS</th>
        <td class="libre">1</td>
        <td class="premium">Ilimitados</td>
      </tr>
      <tr>
        <th class="item">MODULOS</th>
        <td class="libre"><mat-icon class="icono">done</mat-icon></td>
        <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      </tr>
      <tr>
        <th class="item">AGREGAR ACTIVIDADES</th>
        <td class="libre"><mat-icon class="icono">done</mat-icon></td>
        <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      </tr>
      <tr>
        <th class="item">VER REPORTES</th>
        <td class="libre"><mat-icon class="icono">done</mat-icon></td>
        <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      </tr>
      <tr>
        <th class="item">EXPORTAR REPORTES (EXCEL)</th>
        <td class="libre"> <mat-icon class="icono2">block</mat-icon></td>
        <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      </tr>
      <tr>
        <th class="item">EXPORTAR REPORTES (PDF)</th>
        <td class="libre"> <mat-icon class="icono2">block</mat-icon></td>
        <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      </tr>
      <tr>
        <th class="item">COMPARTIR PROYECTOS</th>
        <td class="libre"> <mat-icon class="icono2">block</mat-icon></td>
        <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      </tr>
      <tr>
        <th class="item">CREAR ACTIVIDADES</th>
        <td class="libre"> <mat-icon class="icono2">block</mat-icon></td>
        <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      </tr>
      <tr>
        <th class="item">MODIFICAR PRECIOS (insumos)</th>
        <td class="libre"><mat-icon class="icono2">block</mat-icon></td>
        <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      </tr>

    </table>


  </div>
  <div style="width: 100%; text-align: center;" >
    <div style="width: 100%; margin: auto; text-align: center;">
      <button  mat-raised-button style="background-color:  #4F4F4F; color:#27bdea;"   type="submit" (click)="premiun()">
        OBTENER PAQUETE PREMIUM <mat-icon>paid</mat-icon>
      </button>
    </div>
    <button  mat-flat-button  style="margin:3%;" color="warn"  (click)="cerrarDialogo()" >
      CERRAR <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
