
.tabla-precios{
  width: 80%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  color: #454545;
  font-size: small;
}
h1 {
  font-size: small;
}
.tabla-precios tr{

  color:#454545;
}
.icono {
  transform: scale(1);
  color: #2aad10;
}
.icono2 {
  transform: scale(1);
  color: #e91e1e;
}
.item{
  width: 40%;
  padding: 0%;
  background-color: #EAB127;
  border-bottom: 1px solid #97721a;
}
.libre{
  background-color: #f1e4c61a;
  border-bottom: 1px solid #f1e4c63a;
  width: 20%;
  text-align: center;
}
.premium{
  background-color: #c096351a;
  border-bottom: 1px solid #c0963527;
  width: 20%;
  text-align: center;

}

@media only screen and (max-width: 678px) {


}
@media only screen and (max-width: 420px) {
  .table-cont{
    width: 100%;
    padding: 0%;
    margin: auto;
  }
  .item{

  }
  .icono {
    transform: scale(1);

  }
  .icono2 {
    transform: scale(1);

  }
  h2{
    font-size: medium;
  }
  h1{
    font-size: medium;
  }
}
