<div class="main-cont-div">
  <mat-spinner *ngIf="!reporte" style="margin:auto;"></mat-spinner>
  <div class="sub-titulo-seccion">Desglose de insumos por ítem: MANO DE OBRA</div>
  <div *ngIf="reporte" class="report" id="report" >
      <div>
        <table class="customTable">
           <tr>
            <td></td>
            <td><b>PROYECTO: {{reporte.proyecto.nom_proy}}</b> </td>
            <td><b>LUGAR: {{reporte.proyecto.lugar}}</b></td>
           </tr>
           <tr>
            <td></td>
            <td><b> </b></td>
            <td><b>FECHA: {{reporte.proyecto.fecha}} </b> </td>
           </tr>
           <tr>
            <td></td>
            <td><b>CLIENTE: {{reporte.proyecto.cliente}} </b> </td>
            <td><b>TIPO CAMBIO: {{reporte.proyecto.tip_cambio}} </b> </td>
           </tr>
        </table>
        <div *ngFor="let modulos of reporte.modulos" style="width: 100%;">
          <table class="customTable" style="width: 100%;">
            <tr style="background-color: #d8d8d8; border: 2px solid #000; font-weight: bold; ">
              <td style="width: 2%;width: 100%;">Mod.: {{modulos.modulo.nombre}} </td>
            </tr>
          </table>
          <div >
            <table  style="width: 100%; border-collapse: collapse;">
              <tr style="background-color: #d8d8d8; border: 2px solid #000; font-weight: bold; width: 100%;">
                <td style="width: 75%; max-width: 76%;">ACTIVIDAD</td>
                <td style=""> UNIDAD </td>
                <td style=""> CANT. </td>
                <td style=""> HORAS (promedio)</td>
              </tr>
              <tr *ngFor="let a of modulos.modulo.listadeinsumos" style="border: 1px solid #000;  width: 100%;">
                <td style="width: 75%; max-width: 76%;">{{a.descripcion}}</td>
                <td style="">{{a.unidad}}</td>
                <td style="">{{a.cantidad}}</td>
                <td style="">{{a.totalHorasActividad}}</td>
              </tr>
            </table>
          </div>
          <table class="customTable">
            <tr>
             <td></td>
             <td><b>TOTAL Hrs:  </b> </td>
             <td><b>{{modulos.modulo.horasMod}} </b> </td>
            </tr>
         </table>


        </div>
        <table class="customTable">
          <tr>
           <td></td>
           <td>Calculado por http://predeconst.online/ </td>
           <td></td>
          </tr>

       </table>
  </div>

</div>
<div style="width: 100%; text-align: center;" >
  <button mat-flat-button   style="margin:3%; background-color: #019414; color: #fff;" (click)="verificarPremiun(1)" *ngIf="reporte">
    EXCEL <mat-icon>table</mat-icon>
  </button>
  <button  mat-flat-button  style="margin:3%;" color="primary"  (click)="verificarPremiun(2)" *ngIf="reporte">
    IMPRIMIR <mat-icon>print</mat-icon>
  </button>
  <button  mat-flat-button  style="margin:3%;" color="warn"  (click)="cerrarDialogo()" *ngIf="reporte">
    CERRAR <mat-icon>print</mat-icon>
  </button>
</div>
