<div class="btnDiv" (click)="registro()" style="margin-top: 4%;">
  <h2><button> Registrate aqui</button></h2>
</div>

<div class="table-cont">
  <h3 style="color: #2c2107;">
    <p>
      <b>¡APROVECHA!!!!</b>  Ya que los primeros 200 usuarios que adquieran el <b>acceso ILIMITADO</b>
      el precio de <b>LICENCIA ANUAL</b> será de solo <b>100 Bs.</b> asi que regístrate y adquiere tu acceso <b>PREMIUM</b>
    </p>
  </h3>
  <table class="tabla-precios">
    <tr>
      <th></th>
      <th class="libre"><h1>LIBRE</h1></th>
      <th class="premium"><h1>PREMIUM</h1></th>
      <th class="premium2">
        <h1>ENTERPRISE</h1>
      </th>
    </tr>
    <tr>
      <th class="item">CREACIÓN DE PROYECTOS</th>
      <td class="libre">1</td>
      <td class="premium">Ilimitados</td>
      <td class="premium2">Ilimitados</td>
    </tr>
    <tr>
      <th class="item">MODULOS</th>
      <td class="libre"><mat-icon class="icono">done</mat-icon></td>
      <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      <td class="premium2"><mat-icon class="icono">done</mat-icon></td>
    </tr>
    <tr>
      <th class="item">AGREGAR ACTIVIDADES</th>
      <td class="libre"><mat-icon class="icono">done</mat-icon></td>
      <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      <td class="premium2"><mat-icon class="icono">done</mat-icon></td>
    </tr>
    <tr>
      <th class="item">VER REPORTES</th>
      <td class="libre"><mat-icon class="icono">done</mat-icon></td>
      <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      <td class="premium2"><mat-icon class="icono">done</mat-icon></td>
    </tr>
    <tr>
      <th class="item">EXPORTAR REPORTES (EXCEL)</th>
      <td class="libre"> <mat-icon class="icono2">block</mat-icon></td>
      <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      <td class="premium2"><mat-icon class="icono">done</mat-icon></td>
    </tr>
    <tr>
      <th class="item">EXPORTAR REPORTES (PDF)</th>
      <td class="libre"> <mat-icon class="icono2">block</mat-icon></td>
      <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      <td class="premium2"><mat-icon class="icono">done</mat-icon></td>
    </tr>
    <tr>
      <th class="item">COMPARTIR PROYECTOS</th>
      <td class="libre"> <mat-icon class="icono2">block</mat-icon></td>
      <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      <td class="premium2"><mat-icon class="icono">done</mat-icon></td>
    </tr>
    <tr>
      <th class="item">CREAR ACTIVIDADES</th>
      <td class="libre"> <mat-icon class="icono2">block</mat-icon></td>
      <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      <td class="premium2"><mat-icon class="icono">done</mat-icon></td>
    </tr>
    <tr>
      <th class="item">MODIFICAR PRECIOS (insumos)</th>
      <td class="libre"><mat-icon class="icono2">block</mat-icon></td>
      <td class="premium"><mat-icon class="icono">done</mat-icon></td>
      <td class="premium2"><mat-icon class="icono">done</mat-icon></td>
    </tr>
    <tr>
      <th class="item">NUMERO DE CUENTAS PREMIUM</th>
      <td class="libre"><mat-icon class="icono2">block</mat-icon></td>
      <td class="premium"><mat-icon class="icono2">block</mat-icon></td>
      <td class="premium2">20</td>
    </tr>
        <tr>
          <th class="item">PROYECTOS COLABORATIVOS</th>
          <td class="libre"><mat-icon class="icono2">block</mat-icon></td>
          <td class="premium"><mat-icon class="icono2">block</mat-icon></td>
          <td class="premium2">Ilimitados</td>
        </tr>
        <tr>
          <th class="item">PANEL DE CONTROL DE COLABORADORES</th>
          <td class="libre"><mat-icon class="icono2">block</mat-icon></td>
          <td class="premium"><mat-icon class="icono2">block</mat-icon></td>
          <td class="premium2"><mat-icon class="icono">done</mat-icon></td>
        </tr>
    <tr>
      <th></th>
      <td class="libre"><h2>GRATUITO</h2></td>
      <td class="premium">
        <h2 style="text-decoration: line-through;">149.90 Bs.</h2>
        <h1 style="color: rgb(247, 63, 39);"><b>99.90 Bs. ANUAL</b></h1>
        <h1 style="color: rgb(247, 63, 39);"><b>29.90 Bs. MENSUAL</b></h1>
      </td>
            <td class="premium2">
              <h2 style="text-decoration: line-through;">1800 Bs.</h2>
              <h1 style="color: rgb(247, 63, 39);"><b>1499.90 Bs. ANUAL</b></h1>
            </td>
    </tr>
  </table>
</div>

<div class="btnDiv" (click)="registro()" style="margin-top: 4%;">
  <h2><button> Registrate aqui</button></h2>
</div>
