.table{
  max-height: 400px;
  overflow-y: scroll;
  width: 100%;
  margin: auto;
}
.list2{
  max-height: 400px;
  overflow-y: scroll;
  width: 100%;
  margin: auto;
}
.campoDoble{
  float: left;
  width: 50%;
}
mat-form-field{
  width: 80%;
  margin: auto;
}
.titulo{
  margin-top: 30px;
  text-align: center;
}

.resumen{
  border: 1px solid #000;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 3%;
  width: 100%;

}
.celda{
  float: left;
  width: 48%;
  padding: 1%;
}



.fondo {

  background: rgba(0,0,0,0.5);
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index: 1500;
}
.modal{
  display: flex;
  justify-content: center;
  background: rgb(255, 255, 255);
  width: 40%;
  height: 14%;
  position:absolute;
  top:30%;
  left:30%;
}

@media only screen and (max-width: 420px) {
  .modal{
    width: 80%;
    height: 14%;
    position:absolute;
    top:30%;
    left:10%;
  }


}



