<div class="cont-seccion">
 <div class="uno">
  <div class="blanco2">
    <div class="img" style="background-image: url('assets/img/us.png');"></div>
    <div class="texto">
       <b>PASO 1: </b>
       <p> Regístrate gratuitamente en PREDECONST, para posteriormente ingresar con tu nueva CUENTA DE USUARIO. </p>
    </div>
  </div>
  <div class="blanco2">
    <div class="img" style="background-image: url('assets/img/paso2.png');"></div>
    <div class="texto">
      <b>PASO 2: </b>
      <p> Crea un PROYECTO y configura sus parámetros generales (I.V.A., I.T., tipos de cambio, etc.). </p>
    </div>

  </div>
  <div class="blanco2">
    <div class="img" style="background-image: url('assets/img/paso3.png');"></div>
    <div class="texto">
      <b>PASO 3: </b>
      <p>Una vez creado el proyecto selecciónalo de tu lista personal,  la aplicación te llevara  a la gestión de módulos y crea uno. </p>
    </div>
  </div>
  <div class="blanco2">
   <div class="img" style="background-image: url('assets/img/paso4.png');"></div>
   <div class="texto">
      <b>PASO 4: </b>
      <p>Agrega las ACTIVIDADES desde la base de datos de PREDECONST al módulo que creaste y comienza a armar el proyecto de la misma manera. </p>
   </div>
  </div>
  <div class="blanco2">
   <div class="img" style="background-image: url('assets/img/paso5.png');"></div>
   <div class="texto">
      <b>PASO 5: </b>
      <p>Cuando estés listo, puedes usar las opciones de exportación ya sea para los precios unitarios y/o el presupuesto de insumos, la lista de módulos, etc. </p>
   </div>
  </div>
  <div style="clear: both;"></div>
 </div>
 <div class="dos">
  <mat-stepper  #stepper>
    <mat-step >
    <ng-template matStepLabel></ng-template>
        <div class="blanco">
          <div class="img" style="background-image: url('assets/img/us.png');"></div>
          <div class="texto">
             <b>PASO 1: </b>
             <p> Regístrate gratuitamente en PREDECONST, para posteriormente ingresar con tu nueva CUENTA DE USUARIO. </p>
          </div>
        </div>
        <div style="width: 100%; text-align: right;">
          <button mat-button matStepperNext>Siguiente</button>
        </div>
    </mat-step>
    <mat-step>
    <ng-template matStepLabel></ng-template>
        <div class="blanco">
          <div class="img" style="background-image: url('assets/img/paso2.png');"></div>
          <div class="texto">
            <b>PASO 2: </b>
            <p> Crea un PROYECTO y configura sus parámetros generales (I.V.A., I.T., tipos de cambio, etc.). </p>
          </div>
        </div>
        <div style="width: 100%; text-align: right;">
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
    </mat-step>
    <mat-step >
    <ng-template matStepLabel></ng-template>
      <div class="blanco">
        <div class="img" style="background-image: url('assets/img/paso3.png');"></div>
        <div class="texto">
          <b>PASO 3: </b>
          <p>Una vez creado el proyecto selecciónalo de tu lista personal,  la aplicación te llevara  a la gestión de módulos y crea uno. </p>
        </div>
      </div>
      <div style="width: 100%; text-align: right;">
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
    <ng-template matStepLabel></ng-template>
      <div class="blanco">
        <div class="img" style="background-image: url('assets/img/paso4.png');"></div>
        <div class="texto">
           <b>PASO 4: </b>
           <p>Agrega las ACTIVIDADES desde la base de datos de PREDECONST al módulo que creaste y comienza a armar el proyecto de la misma manera. </p>
        </div>
        </div>
      <div style="width: 100%; text-align: right;">
        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </mat-step>
    <mat-step>
    <ng-template matStepLabel></ng-template>
      <div class="blanco">
        <div class="img" style="background-image: url('assets/img/paso5.png');"></div>
        <div class="texto">
           <b>PASO 5: </b>
           <p>Cuando estés listo, puedes usar las opciones de exportación ya sea para los precios unitarios y/o el presupuesto de insumos, la lista de módulos, etc. </p>
        </div>
      </div>
      <div style="width: 100%; text-align: right;">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">INICIO</button>
      </div>
    </mat-step>
  </mat-stepper>
 </div>
</div>

<!--
  <div class="cont-seccion">

  <div class="blanco">
       <div class="img" style="background-image: url('assets/img/paso2.png');"></div>
       <div class="texto">
         <b>PASO 2: </b>
         <p> Crea un PROYECTO y configura sus parámetros generales (I.V.A., I.T., tipos de cambio, etc.). </p>
       </div>

  </div>
  <div class="blanco">
       <div class="img" style="background-image: url('assets/img/paso3.png');"></div>
       <div class="texto">
         <b>PASO 3: </b>
         <p>Una vez creado el proyecto selecciónalo de tu lista personal,  la aplicación te llevara  a la gestión de módulos y crea uno. </p>
       </div>
  </div>
  <div class="blanco">
      <div class="img" style="background-image: url('assets/img/paso4.png');"></div>
      <div class="texto">
         <b>PASO 4: </b>
         <p>Agrega las ACTIVIDADES desde la base de datos de PREDECONST al módulo que creaste y comienza a armar el proyecto de la misma manera. </p>
      </div>
  </div>
  <div class="blanco">
      <div class="img" style="background-image: url('assets/img/paso5.png');"></div>
      <div class="texto">
         <b>PASO 5: </b>
         <p>Cuando estés listo, puedes usar las opciones de exportación ya sea para los precios unitarios y/o el presupuesto de insumos, la lista de módulos, etc. </p>
      </div>
  </div>
  <div style="clear: both;"></div>
</div>
-->

