 <div class="main-cont-div">
  <div class="sub-titulo-seccion">Lista de insumos</div>

  <mat-form-field>
    <mat-label>Seleccione Tipo</mat-label>
    <mat-select  (selectionChange)="getTipo($event)" >
      <mat-option *ngFor="let op of itemsTipo" name="tipo" id="tipo" #tipo value="{{op.id}}" >
        {{op.desc}}
      </mat-option>
    </mat-select>
  </mat-form-field>

 <div class="list" *ngIf="results.length">
  <div class="buscar">
    <div class="tit-seccion"><h2>Busqueda Items</h2></div>
    <mat-form-field class="input-buscar" appearance="fill">
       <mat-label>Buscar</mat-label>
       <input  required="true" matInput placeholder="NOMBRE Item" #buscar  (keydown.enter)="buscarItem(buscar.value)" >
    </mat-form-field>
    <button mat-fab color="primary"  type="submit" (click)="buscarItem(buscar.value)">
    <mat-icon>search</mat-icon>
    </button>
    <button mat-raised-button color="primary"  type="submit" (click)="agregarItem()">
      AGREGAR INSUMO <mat-icon>add</mat-icon>
    </button>
   </div>

  <table class="customTable">
    <thead>
      <tr style="border-bottom: 1px solid;">
        <th>id</th>
        <th>descripcion</th>
        <th>unidad</th>
        <th>PU Bs.</th>
        <th *ngIf="item===2">MES</th>
        <th *ngIf="item===2">JORNAL</th>
        <th *ngIf="item===2">Jerarquia</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let items of results" style="border-bottom: 1px solid;" (click)="selecItem(items)">
      <td *ngIf="item===3">{{items.id_mat}}</td>
      <td *ngIf="item===1">{{items.id_equip}}</td>
      <td *ngIf="item===2">{{items.id_mo}}</td>
      <td>{{items.descripcion}}</td>
      <td>{{items.unidad}}</td>
      <td>{{items.PU}}</td>
      <td *ngIf="item===2">{{items.jornal}}</td>
      <td *ngIf="item===2">{{items.mes}}</td>
      <td *ngIf="item===2">{{items.jerarquia}}</td>
      <!--
        <td>{{item.grupo_insumo}}</td>
      -->
    </tr >
  </tbody>
  </table>
 </div>

 </div>

