<div class="main-cont-div">
  <div class="sub-titulo-seccion">Lista de Proyectos</div>

 <div class="list" >
  <div class="buscar">
    <div class="tit-seccion"><h2>Busqueda</h2></div>
    <mat-form-field class="input-buscar" appearance="fill">
       <mat-label>Buscar</mat-label>
       <input  required="true" matInput placeholder="NOMBRE PROYECTO" #buscar  (keydown.enter)="buscarItem(buscar.value)" >
    </mat-form-field>
    <button mat-fab style="background-color:#4F4F4F; color:#EAB127;"  type="submit" (click)="buscarItem(buscar.value)">
    <mat-icon>search</mat-icon>
    </button>
    <button  mat-raised-button style="background-color:  #4F4F4F; color:#EAB127;"   type="submit" (click)="agregarItem()">
      NUEVO PROYECTO<mat-icon>add</mat-icon>
    </button>
   </div>

  <table class="customTable" *ngIf="results.length">
    <thead>
      <tr style="border-bottom: 1px solid;">
        <th>nombre</th>
        <th>codigo</th>
        <th>Fecha de Creacion</th>
        <th>Beneficios Sociales</th>
        <th>IVA</th>
        <th>Herramientas Menores</th>
        <th>Gastos Generales</th>
        <th>Utilidad</th>
        <th>IT</th>
        <th>cliente</th>
        <th>Tipo de Cambio</th>
        <th>Ubicacion</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of results" style="border-bottom: 1px solid;" (click)="selecItem(item)">
      <td>{{item.nombre}}</td>
      <td>{{item.codigo}}</td>
      <td>{{item.fecha_creacion}}</td>
      <td>{{item.Ben_Soc}}</td>
      <td>{{item.iva}}</td>
      <td>{{item.he_men}}</td>
      <td>{{item.g_grales}}</td>
      <td>{{item.utilidad}} </td>
      <td>{{item.IT}}</td>
      <td>{{item.cliente}}</td>
      <td>{{item.tip_cambio}}</td>
      <td>{{item.ubicacion}}</td>
      <td><button mat-mini-fab style="background-color:#4F4F4F; color:#EAB127;" (click)="EditItem(item)"><mat-icon >edit</mat-icon></button></td>
      <td><button mat-mini-fab style="background-color:#4F4F4F; color:#EAB127;" (click)="selecItem(item)"><mat-icon >visibility</mat-icon></button></td>
    </tr >
  </tbody>
  </table>

 </div>

 </div>
