<div class="main-cont-div">
  <div class="sub-titulo-seccion">Lista de Proyectos</div>

 <div class="list" >
  <div class="buscar">
    <div class="tit-seccion"><h2>Busqueda</h2></div>
    <mat-form-field class="input-buscar" appearance="fill">
       <mat-label>Buscar</mat-label>
       <input  required="true" matInput placeholder="NOMBRE PROYECTO" #buscar  (keydown.enter)="buscarItem(buscar.value)" >
    </mat-form-field>
    <button mat-fab style="background-color:#4F4F4F; color:#EAB127;"  type="submit" (click)="buscarItem(buscar.value)">
    <mat-icon>search</mat-icon>
    </button>
    <button  mat-raised-button style="background-color:  #4F4F4F; color:#EAB127;"   type="submit" (click)="agregarItem()">
      NUEVO PROYECTO<mat-icon>add</mat-icon>
    </button>
   </div>
   <mat-spinner *ngIf="cargando" style="margin:auto;"></mat-spinner>
  <table class="customTable" *ngIf="!cargando">
    <thead>
      <tr style="border-bottom: 1px solid;">
        <th>nombre</th>
        <th class="opcional3">codigo</th>
        <th class="opcional3">Fecha de Creacion</th>
        <th class="opcional2">Beneficios Sociales</th>
        <th class="opcional1">IVA</th>
        <th class="opcional2">Herramientas Menores</th>
        <th class="opcional2">Gastos Generales</th>
        <th class="opcional3">Utilidad</th>
        <th class="opcional1">IT</th>
        <th>cliente</th>
        <th class="opcional1">Tipo de Cambio</th>
        <th class="opcional4">Ubicacion</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of results" style="border-bottom: 1px solid;" (click)="selecItem(item)">
      <td>{{item.nombre}}</td>
      <td class="opcional3">{{item.codigo}}</td>
      <td class="opcional3">{{item.fecha_creacion}}</td>
      <td class="opcional2">{{item.Ben_Soc}}</td>
      <td class="opcional1">{{item.iva}}</td>
      <td class="opcional2">{{item.he_men}}</td>
      <td class="opcional2">{{item.g_grales}}</td>
      <td class="opcional3">{{item.utilidad}} </td>
      <td class="opcional1">{{item.IT}}</td>
      <td class="opcional5">{{item.cliente}}</td>
      <td class="opcional1">{{item.tip_cambio}}</td>
      <td class="opcional4">{{item.ubicacion}}</td>
      <td><button mat-mini-fab style="background-color:#4F4F4F; color:#EAB127;" (click)="EditItem(item)"><mat-icon >edit</mat-icon></button></td>
      <td><button mat-mini-fab style="background-color:#4F4F4F; color:#EAB127;" (click)="selecItem(item)"><mat-icon >visibility</mat-icon></button></td>
    </tr >
  </tbody>
  </table>

 </div>

 </div>
