<h1 >QUIENES SOMOS</h1>
<div class="cont-seccion">
  <div class="texto">
    <p>
      <b>PREDECONST</b> es una aplicación Web Multiplataforma que te permite Crear,
      Administrar y Gestionar proyectos de construcción, posee herramientas
      que permiten hacer el cálculo y presupuestos de construcción y posteriormente exportarlos a formatos como Word, Excel, etc.
    </p>

    <p>
      Con solo registrarse en el sistema de PREDECONST se puede acceder a
      todas las ventajas que ofrece nuestro sistema, además de las herramientas,
      el acceso a la bases de datos de <b>MATERIALES, MANO DE OBRA y EQUIPAMIENTO</b>,
      como también <b>ACTIVIDADES CONSTRUCTIVAS</b> las sé que incluyen en <b>MÓDULOS</b> de los <b>PROYECTOS</b>
      que con una simple combinación de Clicks serán armados y listos para imprimirse.
    </p>

    <p>
      <b>PREDECONST</b> es un desarrollo de <b>CIENSO</b>
    </p>
  </div>
  <div class="pic" style="background-image: url('assets/img/electro.jpg');">
   </div>
   <div style="clear: both;"></div>
</div>
